# Last Update: 2024-07-15-13:31:20
# yolox + bytetrack
numpy==1.23.2
torch>=1.8
opencv-python
loguru
tqdm
torchvision>=0.10.0
Pillow==9.2.0
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
PyYaml
onnx
onnxruntime
onnx-simplifier

# face recognition
matplotlib
easydict
opencv-contrib-python
pandas
scikit-learn
scikit-image
scipy==1.10.1
seaborn
xmltodict
basetrainer
pybaseutils
toolz

# pycocotools
cython
pycocotools
cython_bbox

# video_stream
mediapipe
httpx

# optimize
ultradict
atomics
setuptools
requests

# for docker env
markdown-it-py==2.2.0
