# count
numpy==1.23.2
torch>=1.7
opencv-python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow==9.2.0
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
# demo
PyYaml

# verified versions
onnx==1.10.0
onnxruntime==1.10.0
onnx-simplifier==0.4.1

# face recognition
matplotlib
easydict
opencv-contrib-python
pandas
scikit-image
scikit-learn
scipy
seaborn
xmltodict
basetrainer
pybaseutils
toolz

# pycocotools
cython
pycocotools
cython_bbox

# video_stream
mediapipe
httpx

# optimize
ultradict
atomics